<blockquote>
	<div class="tm-testi__item-body">
		%%CONTENT%%
	</div>
	<footer>
		<div class="tm-testi__item-meta-content">
		    %%AVATAR%%
		    <div class="tm-testi__item-meta-content-bottom">
			<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
			</div>
		</div>
	</footer>

</blockquote>
