<blockquote>
	<div class="tm-testi__item-body">
	    <div class="tm-testi__item-meta-content">
    			<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
        </div>
		%%CONTENT%%
	</div>
	<footer>
		%%AVATAR%%
	</footer>
</blockquote>
