<blockquote>
	<div class="tm-testi__item-body">
	    %%AVATAR%%
	    <div class="testi-info"><cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%% </div>
		<div class="tm-testi__item-meta-content">%%CONTENT%%</div>
	</div>
</blockquote>
