<blockquote>
    %%AVATAR%%
	<div class="tm-testi__item-body">
	    %%CONTENT%%
		<footer>
			<div class="tm-testi__item-meta-content">
				<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
			</div>
		</footer>
	</div>
</blockquote>
