.contact-information-widget {
	&__inner {
		strong {
			font-weight: 900;
		}
		li {
			margin-left: 0;
			line-height: 1.5;
			@include font-size(1);
			.icon {
				@include font-size(1.5);
				line-height: 1;
				margin-right: 10px;
			}
			&.contact-information__item--icon {
				display: flex;
				align-items: baseline;
			}
		}
	}
}

.elementor-widget-container {
	.contact-information-widget__inner {
		li.contact-information__item {
			&.contact-information__item--icon {
				align-items: flex-start;
				margin-bottom: 37px;
			}
		}
	}
}