.site-header.style-5 {
	.row {
		align-items: center;
	}

	.header-container {
		padding-bottom: 0;
	}

	.header-nav-wrapper {
		@include media-breakpoint-up(sm) {
			padding: 10px;
			align-items: center;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 20px;

			.main-menu-style-1 {
				padding-left: 10px;
			}
		}
	}

	.header-nav-wrapper {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 2px;
		}
		.menu-item {
			a {
				border-radius: 2px;
			}
		}
	}

	.header-layout-fullwidth & {
		.header-nav-panel--fullwidth .header-nav-wrapper {
			padding-left: 0;
			padding-right: 0;

			.main-menu-style-1 {
				padding-left: 0;
			}

			&:before {
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 0;
			}
		}
	}

	.header-layout-boxed & {
		.header-nav-panel-fullwidth .header-nav-wrapper {
			padding-left: 0;
			padding-right: 0;

			.main-menu-style-1 {
				padding-left: 0;
			}

			&:before {
				width: calc(100% + #{$grid-gutter-width});
				left: $grid-gutter-width/-2;
				right: $grid-gutter-width/-2;
				border-radius: 0;
			}
		}
	}

	.header-nav-panel--over {
		.header-nav-wrapper {
			@include media-breakpoint-up(sm) {
				position: relative;
			}
		}

		&.header-menu--style-1 {
			.header-nav-wrapper {
				@include media-breakpoint-up(sm) {
					margin-top: -25.5px;
					top: 25.5px;
				}
			}
		}

		&.header-menu--style-2 {
			.header-nav-wrapper {
				@include media-breakpoint-up(sm) {
					margin-top: -30px;
					top: 30px;
				}
			}
		}
	}

	.site-branding {
		@include media-breakpoint-up(sm) {
			margin-top: 17px;
			margin-bottom: 19px;
		}
	}

	.main-navigation {
		&:only-child {
			@include media-breakpoint-up(md) {
				.menu {
					justify-content: flex-end;
				}
			}
		}
		.menu {
			@include media-breakpoint-up(sm) {
				margin-top: 0;
			}
		}

		&:not(.vertical-menu) .menu .sub-menu {
			border-radius: 2px;
			margin-top: 10px;

			.sub-menu {
				margin-top: 0;
			}
		}

		.menu > li > .sub-menu::before {
			height: 10px;
			top: -10px;
		}
	}

	.header-components__contact-button {
		> * {
			@include media-breakpoint-up(md) {
				padding-top: 13px;
				padding-bottom: 14px;
			}
		}
	}

	.header-search {
		@include media-breakpoint-up(sm) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.header-components {
		position: relative;
		z-index: 10;
	}

	&.search-active {
		.header-search {
			@include media-breakpoint-up(sm) {
				z-index: 100;
			}
		}
		.site-branding {
			@include media-breakpoint-up(sm) {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
	}
}
.site-header.style-5 {
	@include media-breakpoint-up(xl) {
		.row {
			justify-content: space-between;
			flex-wrap: nowrap;
			.col-lg-3 {
				flex: 0 1 31%;
				max-width: 31%;
			}
			.col-lg-9 {
				flex: 0 1 auto;
			}
		}
	}
	.wpcf7 textarea {
		height: 65px;
		min-height: 65px;
	}

	@media (min-width: 1200px) {
		.header-nav-wrapper {
			padding-right: 20px;
			margin-top: 0;
			position: relative;
			top: 0;
		}
	}
	.contact-block.contact-block--header .contact-block__inner {
		justify-content: center;
		display: flex;
		align-items: center;
	}
	@media (min-width: 1200px) {
		.header-search {
			position: absolute;

		}
	}
	&.search-active{
		.header-search {z-index: 99;}
	}
}

.header-style-5 {
	.header-container {
		background: transparent;
	}
}

.home .wpcf7 textarea {
	height: 65px;
	min-height: 65px;
}
