/* #Footer */
.site-footer {
	background-color: $footer_bg;
}
.site-footer.style-1 .site-info-first-row {
	background-color: $footer_bg_first;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}

/* ##Invert Footer Style*/
.invert.footer-area-wrap,
.invert.footer-container {
	color: $regular_text_color;
}
